@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: url('/assets/images/background.png');
  font-family: 'Andada Pro', serif;
}

*:hover {
  cursor: url('/assets/images/cursor.png'), auto;
}

.genshin-text {
  color: wheat;
  text-shadow: 2px 2px 3px #000000;
  margin-left: 530px;
  margin-bottom: 50px;
}

.gif {
  width: 500px;
  height: 500px;
}

.genshin-btn, .wish-btn {
  margin-left: 600px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 196, 161);
  color: black;
  font-weight: bolder;
  font-size: medium;
  border-color: black;
}

.genshin-btn:hover, .wish-btn:hover {
  margin-left: 600px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 196, 161);
  color: wheat;
  font-weight: bolder;
  font-size: medium;
  border-color: black;
  transition: 0.4s;
}
