@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: url('/assets/images/background.png');
  font-family: 'Andada Pro', serif;
}

* {
  overflow: hidden;
}

*:hover {
  cursor: url('/assets/images/cursor.png'), auto;
}

.genshin-text {
  color: wheat;
  text-shadow: 2px 2px 3px #000000;
  margin-left: 530px;
  margin-bottom: 50px;
}

#gif {
    height: 100%;
    width: 100%;
    position: sticky;
    overflow-y: hidden;
    overflow-x: hidden;
}

.genshin-btn, .wish-btn {
  margin-left: 600px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 196, 161);
  color: black;
  font-weight: bolder;
  font-size: medium;
  border-color: wheat;
  box-shadow: 1px 1px 3px wheat;
}

.genshin-btn:hover, .wish-btn:hover {
  margin-left: 600px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 196, 161);
  color: rgb(196, 196, 131);
  font-weight: bolder;
  font-size: medium;
  border-color: wheat;
  box-shadow: 1px 1px 3px wheat;
}

.genshin-btn-2 {
  margin-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 196, 161);
  color: black;
  font-weight: bolder;
  font-size: medium;
  border-color: wheat;
  box-shadow: 1px 1px 3px wheat;
}

.genshin-btn-2:hover {
  margin-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 196, 161);
  color: rgb(196, 196, 131);
  font-weight: bolder;
  font-size: medium;
  border-color: wheat;
  box-shadow: 1px 1px 3px wheat;
}

.text-box {
  border-color: rgb(61, 61, 221);
  box-shadow: 1px 1px 2px blueviolet;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
